.c-grand-menu{

    &__primary{

        &--menu{
            list-style: none;
            position:absolute;
            top: 150px;
            left: 46px;

            @include mq (pc){
                top: 190px;
                left: 40px;
            }

        }
        
        &--item > p{
            color: $basefont-color;
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 20px;
            
            & :hover {
                opacity: 0.8;
                
            }

            & > a{
                text-decoration: none;
                color: $basefont-color;
            }

        }


    }    

    &__secondary{
        &--menu{
            list-style: none;
        }

        &--item{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 18px;
            color: $basefont-color;
            cursor: pointer;

            & :hover {
                opacity: 0.8;
                
            }
            


            & > a{
                text-decoration: none;
                color: $basefont-color;
                font-size: 16px;
            }

        }

    }

}

.sub-menu{
    padding-top: 10px;
}

.menu-item{
    list-style-type:none;
}

.c-grand-menu__primary--item{
    padding-top: 20px;
}

.c-grand-menu__primary--item > a{
 color: $basefont-color;
 text-decoration: none;
 font-size: 20px;
}